{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block content %}
<form action="{{ submit_url }}" method="post">
  {% for heading, field in fields %}
  <div class="col-lg-6">
    <label>{{ heading }}</label>
    <input type="text" name="{{ field }}" value="{{ item[field] if item }}" />
  </div>
  {% endfor %}
  <div class="col-lg-12">
    <button class="button postfix" type="submit">{{ action }}</button>
        </div>
</form>
{% endblock content %}
