{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      {% for heading in headings %}
      <th>{{ heading }}</th>
      {% endfor %}
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ loop.index }}</td>
      {% for field in fields %}
      <td>
        {% if item[field] %}
          {{ item[field] }}
        {% endif %}
      </td>
      {% endfor %}
      <td><a href="{{ get_url(edit_url, edit_params, 'id', item['id']) }}">Edit</a> | <a href="{{ get_url(delete_url, delete_params, 'id', item['id']) }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td><a href = "{{ get_url(add_url, add_params) }}">Add New</a></td>
    </tr>
  </tfoot>
</table>
{% endblock content %}
